body {
    margin:0 auto;
    font: 11px sans-serif;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.dot {
    /*stroke: #000;*/
}
#edit_button {
    position:absolute;
    right:10px;
    top:20px;
}
#loading {
    font-size:140%;
    background:url('../img/ajax-loader.gif') no-repeat center bottom;
    width:200px;
    text-align:center;
    height:50px;
    margin: 25% auto 0;
}
.inputrow {
    clear:left;
    margin-top:10px;
}
.inputvalue {
    width:250px;
    margin: 25% auto 0;
    font-size:130%;
    background:#fafafa;
    border:1px solid #eee;
    padding:10px;
}
.inputvalue label {
    float:left;
    width:70px;
    margin-top:6px;
    text-align:right;
    margin-right:10px;
    clear:left;
}
.inputvalue label em {
    display:block;
    font-size:70%;
    overflow:hidden;
}
.inputvalue input {
    font-size:120%;
    width:140px;
}
.inputvalue button {
    font-size:100%;
    display:block;
    border:1px solid #999;
    background:#fff;
    width:146px;
    margin-top:10px;
    margin-left:80px;
}
.inputvalue button:hover {
    background:#ddf;
}